

<nav>
    <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
            <li><a href="{{ path('home') }}">{{ "header.home" | trans}}</a></li>
            <li><a href="{{ path('detail') }}">{{ "header.liste"|trans }}</a></li>
            <li><a href="{{ path('add') }}">{{ "header.creation"|trans }}</a></li>

            {% if not app.user %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {%  endif %}

            {% if app.user %}
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {%  endif %}

        </ul>
    </div>
</nav>